fieldset{
    border: none;
      padding: 2rem 0;
}
main{
    width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
    
}
body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.enlaces{
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
h2,h1{
    text-align: center;
}

  
