body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

h1,h2, p {
    margin: 1em auto;
    text-align: center;
    color:silver ;
  }
  
  form {
    width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
      padding: 2rem 0;
  }
  fieldset:not(:last-of-type) {
    border-bottom: 3px solid #3b3b4f;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
    color: ghostwhite;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
      width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #ffffff9c;
    border: 1px solid #000000d8;
    color: #000000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.pref {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }